[submodule "luci-app-jd-dailybonus"]
	path = luci-app-jd-dailybonus
	url = https://github.com/jerrykuku/luci-app-jd-dailybonus
[submodule "node-request"]
	path = node-request
	url = https://github.com/jerrykuku/node-request/
